$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$color-text: #000000
$color-background: #FFFFFF
$color-accent: #121222

$heading-font-family: "IBMPlexSans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: $color-background
$header-border-bottom-width: 0
$header-logo-height-desktop: 31px

$hero-background-color: $color-text
$hero-color: $color-background

$footer-background-color: var(--color-text)
$footer-color: var(--color-background)
$footer-logo-height-desktop: 123px

$header-dropdown-full: true

$btn-border-radius: 50px

$block-pages-card-background: var(--color-background)
$block-pages-card-page-background: var(--color-text)
$block-pages-card-page-color: var(--color-background)
$block-pages-card-page-background-hover: var(--color-accent)
$block-pages-card-page-color-hover: var(--color-background)
