$color-text: #000000
$color-background: #FFFFFF
$color-background-alt: #596968

$heading-font-family: "IBMPlexSans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: $color-background
$header-border-bottom-width: 0

$hero-background-color: $color-text
$hero-color: $color-background

$footer-background-color: none

$header-dropdown-full: true

$btn-border-radius: 50px
