$bold: 600
$light: 300

@include font-face("IBMPlexSans", IBMPlexSans-Regular, $exts: (woff woff2 ttf))
@include font-face("IBMPlexSans", IBMPlexSans-Italic, $style: italic, $exts: (woff woff2 ttf))
@include font-face("IBMPlexSans", IBMPlexSans-ExtraLight, $weight: $light, $exts: (woff woff2 ttf))
@include font-face("IBMPlexSans", IBMPlexSans-SemiBold, $weight: $bold, $exts: (woff woff2 ttf))

// icons
@font-face
    font-display: block
    font-family: 'icomoon'
    font-style: normal
    font-weight: 400
    src: url('/assets/fonts/icomoon/icomoon.woff') format("woff")