.block-gallery figure figcaption,
.block-image figure figcaption,
.block-video .video + p
    @include meta
    color: var(--color-text-alt)
    @include media-breakpoint-up(desktop)
        border-left: 1px solid var(--color-text-alt)
        margin-top: 0
        padding-top: space(5)
        padding-left: $spacing-2

.rich-text
    a
        color: $electrical-blue