// figcaption with border
@mixin figcaption-with-border
    border-left: 1px solid var(--color-text-alt)
    margin-top: 0
    padding-top: space(5)
    padding-left: $spacing-2
    @include media-breakpoint-down(desktop)
        padding-top: $spacing-1

.block-gallery figure figcaption,
.block-image figure figcaption,
.block-video .video + p
    @include meta
    color: var(--color-text-alt)

.block-gallery figure figcaption
    @include figcaption-with-border

.block-image figure figcaption,
.block-video .video + p
    @include media-breakpoint-up(desktop)
        @include figcaption-with-border

// links color in blocks
.rich-text,
.top .description
    a
        @include link($electrical-blue)

.block
    // h4 instead of lead in large layout
    &[class*="--large"]
        @include in-page-without-sidebar
            .post,
            .event,
            .page
                [class*="-title"],
                [class*="-subtitle"]
                    @include h4

    // use h3 typo for titles
    &:not(.block-call_to_action, .block-title)
        .block-title
            font-weight: bold