.block-pages.block-class-expertise
    &:first-child
        background: var(--color-text)
        color: var(--color-background)
        margin-top: 0 !important
        margin-bottom: 0 !important
        padding-top: var(--grid-gutter)
        padding-bottom: var(--grid-gutter)
    a
        color: inherit
        @include h2
    .page
        a
            &::after
                opacity: 0
            &:hover::after
                opacity: 1

    @include media-breakpoint-up(desktop)
        .pages
            @include grid(2)

.block-pages.block-pages--list
    &:not(.with-description, .with-title-only)
        .pages
            li + li
                border-top: 1px solid var(--color-border)
                margin-top: var(--grid-gutter)
                padding-top: var(--grid-gutter)

    @include in-page-without-sidebar
        // display all items under each other instead of grid (ex: 'intégrer l'école')
        &:not(.with-description)
            .pages:not(.title-only)
                @include grid(1)
                .page
                    .page-title
                        @include h4
                    .media
                        width: columns(3)

    @include in-page-with-sidebar
        .page
            .page-title
                @include h3

.block-pages.block-pages--cards
    .page
        .page-categories
            --color-accent: var(--color-background)

.block-pages.with-description
    @include in-page-without-sidebar
        .top
            .description p
                @include lead