.block-posts
    &--highlight
        li
            .post
                .post-title,
                .post-subtitle
                    @include h3

        .list
            > li
                border-bottom: 1px solid var(--color-border)
                padding-bottom: space(10)
                + li
                    margin-top: space(10)