.block-programs
    &--list
        .program
            .program-title
                font-weight: normal
                a
                    display: flex
                    justify-content: space-between
                    &::after
                        opacity: 1 !important