.block-testimonials
    &--carousel
        @include media-breakpoint-up(desktop)
            .slider-slide
                figcaption
                    margin-top: $spacing-5

    &--large
        .testimonial
            border-bottom: 1px solid var(--color-text)
            padding-bottom: $spacing-2