.page__home
    .hero
        position: relative
        &::after
            background: var(--color-text)
            background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%)
            bottom: 0
            content: ''
            height: 10%
            left: 0
            position: absolute
            right: 0
        .content
            .hero-text
                position: relative
                z-index: 2
            .has-lead
                p
                    @include lead
                    font-weight: $light
        .hero-image
            inset: 0
            position: absolute
            width: auto
            picture, img
                width: columns(9)
                height: 100%
                object-fit: cover
                object-position: center left

        // logo under text
        .hero-logo
            position: relative
            z-index: 2

        @include media-breakpoint-down(xxl)
            .hero-image
                margin-left: 0
                margin-right: 0
                picture, img
                    width: 100%
            .hero-logo
                padding-bottom: var(--grid-gutter)

        @include media-breakpoint-up(desktop)
            min-height: pxToRem(610)
            .hero-text
                width: 100%
                display: flex
                justify-content: space-between
                gap: var(--grid-gutter)
                padding-bottom: var(--grid-gutter)
                hgroup
                    width: offset(7)

    .block-pages.block-pages--cards:not(.block-class-expertise)
        @include media-breakpoint-up(desktop)
            .pages.pages--cards
                @include grid(4)
                .page
                    .page-title
                        @include h4
        .page
            padding: 0
            &::after
                background: var(--color-text)
                background: linear-gradient(0deg,rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%)
                bottom: 0
                content: ''
                height: 50%
                left: 0
                position: absolute
                right: 0
            .page-content
                background: transparent
                bottom: 0
                height: 100%
                justify-content: flex-end
                padding: $spacing-3
                position: absolute
                width: 100%
                z-index: 2
            .media
                margin: 0
                img
                    aspect-ratio: 320/450
                    object-fit: cover