.programs__section
    &.full-width
        ol.programs--list
            .program
                .program-title
                    @include h1
                    font-weight: normal

                    @include media-breakpoint-up(desktop)
                        a
                            display: flex
                            justify-content: space-between
                            gap: var(--grid-gutter)

    .hero
        .buttons
            --btn-padding: #{space(4)} #{space(10)}
            .dropdown-share
                button
                    --btn-color: var(--color-background)
                    border: 1px solid var(--color-background)
            a[download]
                background: var(--color-background)
                color: var(--color-text)
                order: -1
                &:hover
                    border: 1px solid var(--color-background)