.programs__section,
.diplomas__term,
.diplomas__taxonomy
    &.full-width
        ol.programs,
        ul.diplomas
            .program,
            .diploma
                [class$="-title"]
                    @include lead

.programs__section
    .program-title
        a::after
            opacity: 1 !important
        @include media-breakpoint-up(desktop)
            a
                display: flex
                justify-content: space-between
                gap: var(--grid-gutter)
                &::after
                    order: 3

    .hero
        .buttons
            .dropdown-share
                button
                    --btn-color: var(--color-background)
                    &:not(:hover, :focus)
                        border: 1px solid var(--color-background)
            a[download]
                background: var(--color-background)
                color: var(--color-text)
                order: -1
                &:hover
                    background: $electrical-blue

    .program-table
        td
            @include meta

.programs--list
    .program:hover
        background: $electrical-blue
        .program-title
            a, a:hover
                color: var(--color-background)
                &::after
                    transform: none