footer#document-footer
    padding-bottom: $spacing-3

    .footer-logos
        > * + *
            margin-top: $spacing-4

    .footer-site
        .site-title
            font-weight: bold
        > * + *
            margin-top: space(7)
    
    .footer-menu
        @include h5
        li + li
            margin-top: space(7)
        a:hover
            @include link(var(--color-background))

    .footer-legals 
        a, span
            color: alphaColor(var(--color-background), 0.8)

    .footer-social
        .site-links
            display: flex
            align-items: baseline
            flex-wrap: wrap
            gap: $spacing-2
            li::after
                color: alphaColor(var(--color-background), 0.8)
                font-size: pxToRem(20)
                margin-left: 0
            li:hover::after
                color: $footer-color

    @include media-breakpoint-down(desktop)
        .container:first-child
            > * + *
                margin-top: space(7)
            .footer-cta ul
                gap: var(--grid-gutter)
                a
                    --btn-large-padding: #{pxToRem(14)} #{space(6)}

        .footer-content
            > * + *
                margin-top: $spacing-5

    @include media-breakpoint-up(desktop)
        .container:nth-child(2)
            align-items: flex-start !important
            display: flex
            gap: var(--grid-gutter)
        
        .footer-logo
            width: columns(3)
        
        .footer-content
            @include grid(3)
            align-items: baseline
            width: columns(9)

        .footer-site
            text-align: left
        
        .footer-legals
            display: flex
            flex-direction: column
            height: 100%
            > .footer-social
                margin-top: auto
                padding-top: $spacing-2

// additionnal footer under main footer (hook)
.additionnal-footer
    background-color: $footer-additionnal-background
    color: $footer-color
    padding: space(5) 0
    a
        color: $footer-color
        text-decoration: none

    .logos
        align-items: center
        display: flex
        flex-wrap: wrap
        gap: var(--grid-gutter)
        img
            height: pxToRem(40)
            mix-blend-mode: soft-light
        .logo-large
            height: pxToRem(70)

    .network-menu
        @include list-reset
        @include meta
        display: flex
        align-items: baseline
        li + li
            &::before
                content: '·'
                margin: 0 $spacing-1
    
    @include media-breakpoint-down(desktop)
        .container
            > * + *
                margin-top: $spacing-5

    @include media-breakpoint-up(desktop)
        .container
            align-items: center
            display: flex
            justify-content: space-between