#document-header
    .nav-level-1
        .dropdown-menu-title
          @include h1
          font-weight: normal
        
        .active
            color: $electrical-blue

html.has-menu-opened 
    body::after
        backdrop-filter: blur(18px)