.hero
    --color-text-alt: #B2B2B2
    .hero-actions
        --btn-background: #{$hero-color}
        --btn-border:  var(--border-width) solid #{$hero-color}

    .hero-actions
        .dropdown-share
            .dropdown-menu 
                a:hover
                    color: alphaColor(var(--color-background), 0.8)