.hero
    --color-text-alt: #B2B2B2
    .hero-actions
        --btn-background: #{$hero-color}
        --btn-border:  var(--border-width) solid #{$hero-color}

    .hero-actions,
    .buttons
        .dropdown-share
            .dropdown-menu 
                a:hover
                    color: alphaColor(var(--color-background), 0.8)

@mixin hero-with-centered-image
    display: flex
    gap: var(--grid-gutter)

    .content
        hgroup > p
            display: none
        > p
            @include h3
            font-weight: normal
            line-height: $lead-sidebar-line-height-desktop

    @include media-breakpoint-down(desktop)
        .content
            align-items: normal
            display: flex
            flex-direction: column
            gap: var(--grid-gutter)
            .hero-text
                margin-bottom: 0
            > p
                line-height: $lead-sidebar-line-height
        figure
            order: 3

    @include media-breakpoint-up(desktop)
        &:not(.hero--with-image)
            .content
                > p
                    margin-left: offset(3)

        &.hero--with-image 
            .content
                justify-content: flex-start

        .content
            gap: var(--grid-gutter)
            margin-top: $spacing-4
            .hero-text
                margin-top: 0
                width: columns(5)
            figure
                width: columns(3)
            > p
                flex: 1
    @include media-breakpoint-up(xl)
        .content
            .hero-text
                width: columns(4)
    @include media-breakpoint-up(xxl)
        .content
            .hero-text
                width: columns(3)