.toc-content
    .toc-pages
        ol
            li
                font-weight: bold
                a.active
                    color: $electrical-blue
    @include in-page-with-sidebar
        .toc-title
            color: var(--color-text)